/*kotisivu.html*/

/*html*/

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f6f6;
    color: #1B2025;
    margin: 10px;
}

/*row*/

.row {
    background-color: #f8f6f6;
}


.nav-item {
    padding-right: 40px;
    padding-bottom: 3px;
    font-size: 28px;
}

/*maisemakuva*/

.maisema {
    background-size: cover;
    width: 100%;
}

/*article*/

h1 {
    font-weight: bold;
    font-size: 28px;
}


/*footer*/

table, th, td {
    font-size: 20px;
    padding-right: 60px;
    padding-bottom: 6px;
}

footer {
    display: flex;
}

footer div {
    flex-grow: 5;
}

/*footer kuva*/

footer img {
    width: 400px;
    padding: 10px;
    filter: invert(1);
    float: right;
}


/*valokuvat.html*/

/*elementtien välit*/

#mountain, #lake, #boat, #sunset, #building {
    background-image: cover;
    padding-right: 3px;
    padding-left: 3px;
    width: 100%;
    
}

/*yhteystiedot.html*/

.accordion-button {
    padding-top: 20px;
    padding-bottom: 10px;
}

.accordion-body {
    padding-top: 20px;
    padding-bottom: 0px;
}

p {
    font-size: 20px;
}

span {
    font-weight: bold;
}

/*fonttien responsointi*/



  @media screen and (max-width: 992px) {
    h1 {
      font-size: 28px;
    }

    p {
        font-size: 14px;
    }

   th, td {
        font-size: 14px;
    }

    .nav-item {
        font-size: 14px;
    }

    strong {
        font-size: 14px;
    }
  }



