@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: white;
}

label{
    font-weight: 100;
}

form {
    padding: 5px;
    margin: 10px;
}

input{
   box-sizing: border-box;
   width: 100%;
   margin-top: 0px;
   margin-bottom: 5px;
}
.header{
    font-weight: 700;
    font-size: 1.4em;
    padding: 0px;
    margin: 13px;
}
hr{
    height: 2px;
    border: none;
    background-color: white;
}
div{
    display: inline-block;
    border-radius: 5px;
    background-color: #FF9A0D;
    width: 200px;
}

